<html>
    <head>
        <style>
            form {
                margin-top: 15%;
                margin-left: 30%;
            }
            form > * {
                margin: 10px;
                height: 30px;
            }
            button {
                background-color: rgb(0, 130, 210);
                padding: 0 30px;
                border: 0.5px solid;
                cursor: pointer;
            }
        </style>
    </head>
    <body>


        <form id="reset-password" role="form" action="//localhost:3000/users" method="patch"> 
            <label for="password"> New Password : </label>
            <input type="password" name="password" id="password" required> <br>
            <label for="repeatNewPassword"> Repeat New Password : </label>
            <input type="password" name="repeatNewPassword" id="password-copy" required> <br>
            <button type="submit"> RESET </button>
        </form>


        <script type="text/javascript">
            document.querySelector("#reset-password").addEventListener("submit", function(e){
                e.preventDefault(); 
                if(document.querySelector("#password").value === document.querySelector("#password-copy").value){
                    const params = new URL(location.href).searchParams;
                    const data = {
                        password: document.querySelector("#password").value,
                        _id: params.get('id')
                    }
                    fetch('//localhost:3000/users', {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    })
                    .then (() => {
                        alert("Password is updated now, please go back and login again.")
                        document.querySelector("#reset-password").style.display = "none";
                    })
                }
                else {
                    alert("Password does not match")
                }
            });
        </script>

    </body>
</html>